<!-- views/pages/index.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body class="container">


<main>
    <div class="jumbotron">
        <h1>Work in Progress</h1>
        <p>Will be back shortly...</p>
        
    </div>
</main>

<footer>
    {{>footer}}
</footer>

</body>
</html>